h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightblue;
  background-color: black;
  outline: 8px ridge lightblue;
  border-radius: 2rem;
  outline-style: inset;
  margin:25px;
  text-align: center;

}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkblue;
  text-align: left;

}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  background-color:whitesmoke;
  text-align: justify;
}


